# database configuration
DATABASE_URL="mysql://root:password@localhost:3306/pengajuan_kredit_pppk"
DATABASE_USER="root"
DATABASE_PASSWORD="password"
DATABASE_NAME="pengajuan_kredit_pppk"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# port url
PORT=5000

# secret key for JWT
JWT_SECRET="akdjfvbuqi384fibnqovbiq74f9oqu3rkvn9834rcbkea"

# seed user admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123

# cors origin
ALLOWED_ORIGINS="http://localhost:5174,http://localhost:5175,http://localhost:5173"